<mat-drawer-container class="example-container" [hasBackdrop]="hasBackdrop">

    <mat-drawer [opened]="opened" [mode]="mode" class="contactDrawer" #contactDrawer>
        <mat-toolbar>

            <span>Conversas</span>
            <span class="example-spacer"></span>


            <div class="buttonOpenDrawerByContact">
                <button (click)="openSettingsDrawer(settingsDrawer)">
                    <mat-icon>settings</mat-icon>
                </button>
            </div>

        </mat-toolbar>

        <footer>
            <input type="text" placeholder="Encontre um usuário">
        </footer>

    </mat-drawer>

    <mat-drawer-content class="contentPrincipal">

        <div>
            <mat-toolbar class="navToolbar">
                <div class="androidMenuContactDrawer">
                    <button (click)="contactDrawer.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
                <div class="androidMenuSettingsDrawer">
                    <button (click)="settingsDrawer.toggle()">
                        <mat-icon>settings</mat-icon>
                    </button>
                </div>

                <span>Fórum</span>
                <span class="example-spacer"></span>

                <div>
                    <button>
                        <mat-icon>rss_feed</mat-icon>
                    </button>
                </div>
            </mat-toolbar>
        </div>

        <div class="messageContent" *ngIf="forumMessages.length != 0;else spinner">
            <div class="messageCard" *ngFor="let message of forumMessages">
                <mat-card class="example-card">
                    <mat-card-header class="card">
                        <img alt="profile" src="../../assets/profile.png">
                        <div class="descCardMessage">
                            <mat-card-subtitle style="color: #f4f4f4;">{{alterFrom(message.from)}}</mat-card-subtitle>
                            <p>{{message.message}}</p>
                        </div>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>

        <div class="enviarMessageContent">
            <form class="enviarMessage" [formGroup]="formMessageToForum">

                <mat-divider style="color: #222;"></mat-divider>

                <div class="input">
                    <input type="text" placeholder="Envie uma mensagem" required formControlName="message">
                </div>

                <div>
                    <mat-icon (click)="sendMessage()">send</mat-icon>
                </div>

            </form>
        </div>
    </mat-drawer-content>

    <mat-drawer #settingsDrawer [mode]="mode" class="settingsDrawer" position="end">

        <div class="headerSettings">
            <mat-icon>settings</mat-icon>
            <h2>Configurações</h2>
        </div>

        <div class="perfilUser">
            <img alt="profile" src="../../assets/profile.png">
            <span>{{username}}</span>
        </div>

        <div class="actionsSettings">
            <button class="sairButton" (click)="logout()">
                <span>Sair</span>
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </mat-drawer>

</mat-drawer-container>

<ng-template>
    <mat-drawer #logDrawer mode="side" class="logDrawer" position="end">
        <mat-toolbar>
            <span>Logs</span>
            <span class="example-spacer"></span>
            <mat-icon>rss_feed</mat-icon>
        </mat-toolbar>

        <div>
            <div *ngFor="let log of logNotifyMessages">
                <div class="logMessage">
                    <h3>{{log}}</h3>
                </div>
            </div>
        </div>
    </mat-drawer>
</ng-template>

<ng-template #spinner>
    <mat-spinner class="spinner" diameter="50" color="primary"></mat-spinner>
</ng-template>