<div class="content">

    <form [formGroup]="formRegister" class="form">

        <h2>Crie seu Usuário</h2>

        <div class="formField">
            <label>Nome</label>
            <input type="text" formControlName="nome" placeholder="insira o seu nome" required>
        </div>

        <div class="formField">
            <button (click)="submitRegistration()">Registrar</button>
        </div>

        <div class="linkContent">
            <p>Já criou seu usuário? <a href="/login">Entre aqui</a></p>
        </div>

    </form>

</div>
